# 데이터 확인

In [35]:
import pandas as pd
# 데이터 로드
sales_data = pd.read_csv('서울시_상권분석서비스(추정매출-상권)_2022년.csv', encoding='euc-kr')
income_expenditure_data = pd.read_csv('서울시 상권분석서비스(소득소비-상권).csv', encoding='euc-kr')
floating_population_data = pd.read_csv('서울시 상권분석서비스(길단위인구-상권).csv', encoding='euc-kr')
resident_population_data = pd.read_csv('서울시 상권분석서비스(상주인구-상권).csv', encoding='euc-kr')
# 아파트 - 결측치 처리를 위해 0으로 처리
apartment_data = pd.read_csv('서울시 상권분석서비스(아파트-상권).csv', encoding='euc-kr').fillna(0)
work_population_data = pd.read_csv('서울시 상권분석서비스(직장인구-상권).csv', encoding='euc-kr')
# 집객시설 - 결측치 처리를 위해 0으로 처리
attraction_facility_data = pd.read_csv('서울시 상권분석서비스(집객시설-상권).csv', encoding='euc-kr').fillna(0)
store_data = pd.read_csv('서울시_상권분석서비스(점포-상권)_2022년.csv', encoding='euc-kr')
area_data = pd.read_csv('서울시 상권분석서비스(영역-상권).csv', encoding='euc-kr')
change_data = pd.read_csv('서울시 상권분석서비스(상권변화지표-상권).csv', encoding='euc-kr')

# 각 데이터프레임의 컬럼명 출력
print("서울시_상권분석서비스(추정매출-상권):", sales_data.columns)
print("서울시 상권분석서비스(소득소비-상권):", income_expenditure_data.columns)
print("서울시 상권분석서비스(길단위인구-상권):", floating_population_data.columns)
print("서울시 상권분석서비스(상주인구-상권):", resident_population_data.columns)
print("서울시 상권분석서비스(아파트-상권):", apartment_data.columns)
print("서울시 상권분석서비스(직장인구-상권):", work_population_data.columns)
print("서울시 상권분석서비스(집객시설-상권):", attraction_facility_data.columns)
print("서울시_상권분석서비스(점포-상권):", store_data.columns)
print("서울시 상권분석서비스(영역-상권):", area_data.columns)
print("서울시 상권분석서비스(상권변화지표-상권):", change_data.columns)

서울시_상권분석서비스(추정매출-상권): Index(['기준_년분기_코드', '상권_구분_코드', '상권_구분_코드_명', '상권_코드', '상권_코드_명', '서비스_업종_코드',
       '서비스_업종_코드_명', '당월_매출_금액', '당월_매출_건수', '주중_매출_금액', '주말_매출_금액',
       '월요일_매출_금액', '화요일_매출_금액', '수요일_매출_금액', '목요일_매출_금액', '금요일_매출_금액',
       '토요일_매출_금액', '일요일_매출_금액', '시간대_00~06_매출_금액', '시간대_06~11_매출_금액',
       '시간대_11~14_매출_금액', '시간대_14~17_매출_금액', '시간대_17~21_매출_금액',
       '시간대_21~24_매출_금액', '남성_매출_금액', '여성_매출_금액', '연령대_10_매출_금액',
       '연령대_20_매출_금액', '연령대_30_매출_금액', '연령대_40_매출_금액', '연령대_50_매출_금액',
       '연령대_60_이상_매출_금액', '주중_매출_건수', '주말_매출_건수', '월요일_매출_건수', '화요일_매출_건수',
       '수요일_매출_건수', '목요일_매출_건수', '금요일_매출_건수', '토요일_매출_건수', '일요일_매출_건수',
       '시간대_건수~06_매출_건수', '시간대_건수~11_매출_건수', '시간대_건수~14_매출_건수',
       '시간대_건수~17_매출_건수', '시간대_건수~21_매출_건수', '시간대_건수~24_매출_건수', '남성_매출_건수',
       '여성_매출_건수', '연령대_10_매출_건수', '연령대_20_매출_건수', '연령대_30_매출_건수',
       '연령대_40_매출_건수', '연령대_50_매출_건수', '연령대_60_이상_매출_건수'],
      dtype='object')
서울시 상권분석서비스(소득소비-상권): Index(['기준_년분기_코드', '상권_구분_코드', '상권_구분_코드_명', '상권_코드', '상권_코드_명', '월_평균_소득_금액',
       '소득_구간_코드', '지출_총금액', '식료품_지출_총금액', '의류_신발_지출_총금액', '생활용품_지출_총금액',
       '의료비_지출_총금액', '교통_지출_총금액', '여가_지출_총금액', '문화_지출_총금액', '교육_지출_총금액',
       '유흥_지출_총금액'],
      dtype='object')
서울시 상권분석서비스(길단위인구-상권): Index(['기준_년분기_코드', '상권_구분_코드', '상권_구분_코드_명', '상권_코드', '상권_코드_명', '총_유동인구_수',
       '남성_유동인구_수', '여성_유동인구_수', '연령대_10_유동인구_수', '연령대_20_유동인구_수',
       '연령대_30_유동인구_수', '연령대_40_유동인구_수', '연령대_50_유동인구_수', '연령대_60_이상_유동인구_수',
       '시간대_00_06_유동인구_수', '시간대_06_11_유동인구_수', '시간대_11_14_유동인구_수',
       '시간대_14_17_유동인구_수', '시간대_17_21_유동인구_수', '시간대_21_24_유동인구_수',
       '월요일_유동인구_수', '화요일_유동인구_수', '수요일_유동인구_수', '목요일_유동인구_수', '금요일_유동인구_수',
       '토요일_유동인구_수', '일요일_유동인구_수'],
      dtype='object')
서울시 상권분석서비스(상주인구-상권): Index(['기준_년분기_코드', '상권_구분_코드', '상권_구분_코드_명', '상권_코드', '상권_코드_명', '총_상주인구_수',
       '남성_상주인구_수', '여성_상주인구_수', '연령대_10_상주인구_수', '연령대_20_상주인구_수',
       '연령대_30_상주인구_수', '연령대_40_상주인구_수', '연령대_50_상주인구_수', '연령대_60_이상_상주인구_수',
       '남성연령대_10_상주인구_수', '남성연령대_20_상주인구_수', '남성연령대_30_상주인구_수',
       '남성연령대_40_상주인구_수', '남성연령대_50_상주인구_수', '남성연령대_60_이상_상주인구_수',
       '여성연령대_10_상주인구_수', '여성연령대_20_상주인구_수', '여성연령대_30_상주인구_수',
       '여성연령대_40_상주인구_수', '여성연령대_50_상주인구_수', '여성연령대_60_이상_상주인구_수', '총_가구_수',
       '아파트_가구_수', '비_아파트_가구_수'],
      dtype='object')
서울시 상권분석서비스(아파트-상권): Index(['기준_년분기_코드', '상권_구분_코드', '상권_구분_코드_명', '상권_코드', '상권_코드_명', '아파트_단지_수',
       '아파트_면적_66_제곱미터_미만_세대_수', '아파트_면적_66_제곱미터_세대_수', '아파트_면적_99_제곱미터_세대_수',
       '아파트_면적_132_제곱미터_세대_수', '아파트_면적_165_제곱미터_세대_수', '아파트_가격_1_억_미만_세대_수',
       '아파트_가격_1_억_세대_수', '아파트_가격_2_억_세대_수', '아파트_가격_3_억_세대_수',
       '아파트_가격_4_억_세대_수', '아파트_가격_5_억_세대_수', '아파트_가격_6_억_이상_세대_수', '아파트_평균_면적',
       '아파트_평균_시가'],
      dtype='object')
서울시 상권분석서비스(직장인구-상권): Index(['기준_년분기_코드', '상권_구분_코드', '상권_구분_코드_명', '상권_코드', '상권_코드_명', '총_직장_인구_수',
       '남성_직장_인구_수', '여성_직장_인구_수', '연령대_10_직장_인구_수', '연령대_20_직장_인구_수',
       '연령대_30_직장_인구_수', '연령대_40_직장_인구_수', '연령대_50_직장_인구_수',
       '연령대_60_이상_직장_인구_수', '남성연령대_10_직장_인구_수', '남성연령대_20_직장_인구_수',
       '남성연령대_30_직장_인구_수', '남성연령대_40_직장_인구_수', '남성연령대_50_직장_인구_수',
       '남성연령대_60_이상_직장_인구_수', '여성연령대_10_직장_인구_수', '여성연령대_20_직장_인구_수',
       '여성연령대_30_직장_인구_수', '여성연령대_40_직장_인구_수', '여성연령대_50_직장_인구_수',
       '여성연령대_60_이상_직장_인구_수'],
      dtype='object')
서울시 상권분석서비스(집객시설-상권): Index(['기준_년분기_코드', '상권_구분_코드', '상권_구분_코드_명', '상권_코드', '상권_코드_명', '집객시설_수',
       '관공서_수', '은행_수', '종합병원_수', '일반_병원_수', '약국_수', '유치원_수', '초등학교_수',
       '중학교_수', '고등학교_수', '대학교_수', '백화점_수', '슈퍼마켓_수', '극장_수', '숙박_시설_수',
       '공항_수', '철도_역_수', '버스_터미널_수', '지하철_역_수', '버스_정거장_수'],
      dtype='object')
서울시_상권분석서비스(점포-상권): Index(['기준_년분기_코드', '상권_구분_코드', '상권_구분_코드_명', '상권_코드', '상권_코드_명', '서비스_업종_코드',
       '서비스_업종_코드_명', '점포_수', '유사_업종_점포_수', '개업_율', '개업_점포_수', '폐업_률',
       '폐업_점포_수', '프랜차이즈_점포_수'],
      dtype='object')
서울시 상권분석서비스(영역-상권): Index(['상권_구분_코드', '상권_구분_코드_명', '상권_코드', '상권_코드_명', '엑스좌표_값', '와이좌표_값',
       '자치구_코드', '자치구_코드_명', '행정동_코드', '행정동_코드_명', '영역_면적'],
      dtype='object')
서울시 상권분석서비스(상권변화지표-상권): Index(['기준_년분기_코드', '상권_구분_코드', '상권_구분_코드_명', '상권_코드', '상권_코드_명', '상권_변화_지표',
       '상권_변화_지표_명', '운영_영업_개월_평균', '폐업_영업_개월_평균', '서울_운영_영업_개월_평균',
       '서울_폐업_영업_개월_평균'],
      dtype='object')

# 데이터 합치기

# 2022

In [39]:
# 데이터 로드
sales_data = pd.read_csv('서울시_상권분석서비스(추정매출-상권)_2022년.csv', encoding='euc-kr')
income_expenditure_data = pd.read_csv('서울시 상권분석서비스(소득소비-상권).csv', encoding='euc-kr')
floating_population_data = pd.read_csv('서울시 상권분석서비스(길단위인구-상권).csv', encoding='euc-kr')
resident_population_data = pd.read_csv('서울시 상권분석서비스(상주인구-상권).csv', encoding='euc-kr')
# 아파트 - 결측치 처리를 위해 0으로 처리
apartment_data = pd.read_csv('서울시 상권분석서비스(아파트-상권).csv', encoding='euc-kr').fillna(0)
work_population_data = pd.read_csv('서울시 상권분석서비스(직장인구-상권).csv', encoding='euc-kr')
# 집객시설 - 결측치 처리를 위해 0으로 처리
attraction_facility_data = pd.read_csv('서울시 상권분석서비스(집객시설-상권).csv', encoding='euc-kr').fillna(0)
store_data = pd.read_csv('서울시_상권분석서비스(점포-상권)_2022년.csv', encoding='euc-kr')
area_data = pd.read_csv('서울시 상권분석서비스(영역-상권).csv', encoding='euc-kr')
change_data = pd.read_csv('서울시 상권분석서비스(상권변화지표-상권).csv', encoding='euc-kr')


# 데이터 병합
merged22_data = sales_data.merge(income_expenditure_data, on=['기준_년분기_코드', '상권_코드'], how='left', suffixes=('', '_income')) \
                        .merge(floating_population_data, on=['기준_년분기_코드', '상권_코드'], how='left', suffixes=('', '_floating')) \
                        .merge(resident_population_data, on=['기준_년분기_코드', '상권_코드'], how='left', suffixes=('', '_resident')) \
                        .merge(apartment_data, on=['기준_년분기_코드', '상권_코드'], how='left', suffixes=('', '_apartment')) \
                        .merge(work_population_data, on=['기준_년분기_코드', '상권_코드'], how='left', suffixes=('', '_work')) \
                        .merge(attraction_facility_data, on=['기준_년분기_코드', '상권_코드'], how='left', suffixes=('', '_attraction')) \
                        .merge(store_data, on=['기준_년분기_코드', '상권_코드','서비스_업종_코드'], how='left', suffixes=('', '_store')) \
                        .merge(area_data, on=['상권_코드'], how='left', suffixes=('', '_area')) \
                        .merge(change_data, on=['기준_년분기_코드', '상권_코드'], how='left', suffixes=('', '_change'))

In [40]:
# 불필요한 열 제거
columns_to_drop = ['상권_구분_코드_floating', '상권_구분_코드_명_floating', '상권_코드_명_floating', 
                   '상권_구분_코드_resident', '상권_구분_코드_명_resident', '상권_코드_명_resident',
                   '상권_구분_코드_apartment', '상권_구분_코드_명_apartment', '상권_코드_명_apartment',
                   '상권_구분_코드_work', '상권_구분_코드_명_work', '상권_코드_명_work',
                   '상권_구분_코드_attraction', '상권_구분_코드_명_attraction', '상권_코드_명_attraction',
                   '상권_구분_코드_income', '상권_구분_코드_명_income', '상권_코드_명_income',
                  '상권_구분_코드_store', '상권_구분_코드_명_store', '상권_코드_명_store','서비스_업종_코드_명_store',
                  '상권_구분_코드_area', '상권_구분_코드_명_area', '상권_코드_명_area',
                  '상권_구분_코드_change', '상권_구분_코드_명_change', '상권_코드_명_change',
                  ]


merged22_data.drop(columns=columns_to_drop, inplace=True)

merged22_data.to_csv('all_merged_2022.csv', index = False)

# 결측값 개수 확인
null_counts22 = merged22_data.isnull().sum()

# 전체 결측값 개수 출력
print(null_counts22.to_string())

기준_년분기_코드                    0
상권_구분_코드                     0
상권_구분_코드_명                   0
상권_코드                        0
상권_코드_명                      0
서비스_업종_코드                    0
서비스_업종_코드_명                  0
당월_매출_금액                     0
당월_매출_건수                     0
주중_매출_금액                     0
주말_매출_금액                     0
월요일_매출_금액                    0
화요일_매출_금액                    0
수요일_매출_금액                    0
목요일_매출_금액                    0
금요일_매출_금액                    0
토요일_매출_금액                    0
일요일_매출_금액                    0
시간대_00~06_매출_금액              0
시간대_06~11_매출_금액              0
시간대_11~14_매출_금액              0
시간대_14~17_매출_금액              0
시간대_17~21_매출_금액              0
시간대_21~24_매출_금액              0
남성_매출_금액                     0
여성_매출_금액                     0
연령대_10_매출_금액                 0
연령대_20_매출_금액                 0
연령대_30_매출_금액                 0
연령대_40_매출_금액                 0
연령대_50_매출_금액                 0
연령대_60_이상_매출_금액              0
주중_매출_건수                     0
주말_매출_건수                     0
월요일_매출_건수                    0
화요일_매출_건수                    0
수요일_매출_건수                    0
목요일_매출_건수                    0
금요일_매출_건수                    0
토요일_매출_건수                    0
일요일_매출_건수                    0
시간대_건수~06_매출_건수              0
시간대_건수~11_매출_건수              0
시간대_건수~14_매출_건수              0
시간대_건수~17_매출_건수              0
시간대_건수~21_매출_건수              0
시간대_건수~24_매출_건수              0
남성_매출_건수                     0
여성_매출_건수                     0
연령대_10_매출_건수                 0
연령대_20_매출_건수                 0
연령대_30_매출_건수                 0
연령대_40_매출_건수                 0
연령대_50_매출_건수                 0
연령대_60_이상_매출_건수              0
월_평균_소득_금액                 482
소득_구간_코드                   482
지출_총금액                    1675
식료품_지출_총금액                1675
의류_신발_지출_총금액              1675
생활용품_지출_총금액               1675
의료비_지출_총금액                1675
교통_지출_총금액                 1675
여가_지출_총금액                 1675
문화_지출_총금액                 1675
교육_지출_총금액                 1675
유흥_지출_총금액                 1675
총_유동인구_수                     3
남성_유동인구_수                    3
여성_유동인구_수                    3
연령대_10_유동인구_수                3
연령대_20_유동인구_수                3
연령대_30_유동인구_수                3
연령대_40_유동인구_수                3
연령대_50_유동인구_수                3
연령대_60_이상_유동인구_수             3
시간대_00_06_유동인구_수             3
시간대_06_11_유동인구_수             3
시간대_11_14_유동인구_수             3
시간대_14_17_유동인구_수             3
시간대_17_21_유동인구_수             3
시간대_21_24_유동인구_수             3
월요일_유동인구_수                   3
화요일_유동인구_수                   3
수요일_유동인구_수                   3
목요일_유동인구_수                   3
금요일_유동인구_수                   3
토요일_유동인구_수                   3
일요일_유동인구_수                   3
총_상주인구_수                   372
남성_상주인구_수                  372
여성_상주인구_수                  372
연령대_10_상주인구_수              372
연령대_20_상주인구_수              372
연령대_30_상주인구_수              372
연령대_40_상주인구_수              372
연령대_50_상주인구_수              372
연령대_60_이상_상주인구_수           372
남성연령대_10_상주인구_수            372
남성연령대_20_상주인구_수            372
남성연령대_30_상주인구_수            372
남성연령대_40_상주인구_수            372
남성연령대_50_상주인구_수            372
남성연령대_60_이상_상주인구_수         372
여성연령대_10_상주인구_수            372
여성연령대_20_상주인구_수            372
여성연령대_30_상주인구_수            372
여성연령대_40_상주인구_수            372
여성연령대_50_상주인구_수            372
여성연령대_60_이상_상주인구_수         372
총_가구_수                     372
아파트_가구_수                   372
비_아파트_가구_수                 372
아파트_단지_수                  6529
아파트_면적_66_제곱미터_미만_세대_수    6529
아파트_면적_66_제곱미터_세대_수       6529
아파트_면적_99_제곱미터_세대_수       6529
아파트_면적_132_제곱미터_세대_수      6529
아파트_면적_165_제곱미터_세대_수      6529
아파트_가격_1_억_미만_세대_수        6529
아파트_가격_1_억_세대_수           6529
아파트_가격_2_억_세대_수           6529
아파트_가격_3_억_세대_수           6529
아파트_가격_4_억_세대_수           6529
아파트_가격_5_억_세대_수           6529
아파트_가격_6_억_이상_세대_수        6529
아파트_평균_면적                 6529
아파트_평균_시가                 6529
총_직장_인구_수                  218
남성_직장_인구_수                 218
여성_직장_인구_수                 218
연령대_10_직장_인구_수             218
연령대_20_직장_인구_수             218
연령대_30_직장_인구_수             218
연령대_40_직장_인구_수             218
연령대_50_직장_인구_수             218
연령대_60_이상_직장_인구_수          218
남성연령대_10_직장_인구_수           218
남성연령대_20_직장_인구_수           218
남성연령대_30_직장_인구_수           218
남성연령대_40_직장_인구_수           218
남성연령대_50_직장_인구_수           218
남성연령대_60_이상_직장_인구_수        218
여성연령대_10_직장_인구_수           218
여성연령대_20_직장_인구_수           218
여성연령대_30_직장_인구_수           218
여성연령대_40_직장_인구_수           218
여성연령대_50_직장_인구_수           218
여성연령대_60_이상_직장_인구_수        218
집객시설_수                     659
관공서_수                      659
은행_수                       659
종합병원_수                     659
일반_병원_수                    659
약국_수                       659
유치원_수                      659
초등학교_수                     659
중학교_수                      659
고등학교_수                     659
대학교_수                      659
백화점_수                      659
슈퍼마켓_수                     659
극장_수                       659
숙박_시설_수                    659
공항_수                       659
철도_역_수                     659
버스_터미널_수                   659
지하철_역_수                    659
버스_정거장_수                   659
점포_수                         0
유사_업종_점포_수                   0
개업_율                         0
개업_점포_수                      0
폐업_률                         0
폐업_점포_수                      0
프랜차이즈_점포_수                   0
엑스좌표_값                       0
와이좌표_값                       0
자치구_코드                       0
자치구_코드_명                     0
행정동_코드                       0
행정동_코드_명                     0
영역_면적                        0
상권_변화_지표                     0
상권_변화_지표_명                   0
운영_영업_개월_평균                  0
폐업_영업_개월_평균                  0
서울_운영_영업_개월_평균               0
서울_폐업_영업_개월_평균               0

# 2021

In [41]:
# 데이터 로드
sales_data = pd.read_csv('서울시_상권분석서비스(추정매출-상권)_2021년.csv', encoding='euc-kr')
income_expenditure_data = pd.read_csv('서울시 상권분석서비스(소득소비-상권).csv', encoding='euc-kr')
floating_population_data = pd.read_csv('서울시 상권분석서비스(길단위인구-상권).csv', encoding='euc-kr')
resident_population_data = pd.read_csv('서울시 상권분석서비스(상주인구-상권).csv', encoding='euc-kr')
# 아파트 - 결측치 처리를 위해 0으로 처리
apartment_data = pd.read_csv('서울시 상권분석서비스(아파트-상권).csv', encoding='euc-kr').fillna(0)
work_population_data = pd.read_csv('서울시 상권분석서비스(직장인구-상권).csv', encoding='euc-kr')
# 집객시설 - 결측치 처리를 위해 0으로 처리
attraction_facility_data = pd.read_csv('서울시 상권분석서비스(집객시설-상권).csv', encoding='euc-kr').fillna(0)
store_data = pd.read_csv('서울시_상권분석서비스(점포-상권)_2021년.csv', encoding='euc-kr')
area_data = pd.read_csv('서울시 상권분석서비스(영역-상권).csv', encoding='euc-kr')
change_data = pd.read_csv('서울시 상권분석서비스(상권변화지표-상권).csv', encoding='euc-kr')


# 데이터 병합
merged21_data = sales_data.merge(income_expenditure_data, on=['기준_년분기_코드', '상권_코드'], how='left', suffixes=('', '_income')) \
                        .merge(floating_population_data, on=['기준_년분기_코드', '상권_코드'], how='left', suffixes=('', '_floating')) \
                        .merge(resident_population_data, on=['기준_년분기_코드', '상권_코드'], how='left', suffixes=('', '_resident')) \
                        .merge(apartment_data, on=['기준_년분기_코드', '상권_코드'], how='left', suffixes=('', '_apartment')) \
                        .merge(work_population_data, on=['기준_년분기_코드', '상권_코드'], how='left', suffixes=('', '_work')) \
                        .merge(attraction_facility_data, on=['기준_년분기_코드', '상권_코드'], how='left', suffixes=('', '_attraction')) \
                        .merge(store_data, on=['기준_년분기_코드', '상권_코드','서비스_업종_코드'], how='left', suffixes=('', '_store')) \
                        .merge(area_data, on=['상권_코드'], how='left', suffixes=('', '_area')) \
                        .merge(change_data, on=['기준_년분기_코드', '상권_코드'], how='left', suffixes=('', '_change'))


# 불필요한 열 제거
columns_to_drop = ['상권_구분_코드_floating', '상권_구분_코드_명_floating', '상권_코드_명_floating', 
                   '상권_구분_코드_resident', '상권_구분_코드_명_resident', '상권_코드_명_resident',
                   '상권_구분_코드_apartment', '상권_구분_코드_명_apartment', '상권_코드_명_apartment',
                   '상권_구분_코드_work', '상권_구분_코드_명_work', '상권_코드_명_work',
                   '상권_구분_코드_attraction', '상권_구분_코드_명_attraction', '상권_코드_명_attraction',
                   '상권_구분_코드_income', '상권_구분_코드_명_income', '상권_코드_명_income',
                  '상권_구분_코드_store', '상권_구분_코드_명_store', '상권_코드_명_store','서비스_업종_코드_명_store',
                  '상권_구분_코드_area', '상권_구분_코드_명_area', '상권_코드_명_area',
                  '상권_구분_코드_change', '상권_구분_코드_명_change', '상권_코드_명_change',
                  ]


merged21_data.drop(columns=columns_to_drop, inplace=True)

merged21_data.to_csv('all_merged_2021.csv', index = False)

# 결측값 개수 확인
null_counts21 = merged21_data.isnull().sum()

# 전체 결측값 개수 출력
print(null_counts21.to_string())

기준_년분기_코드                    0
상권_구분_코드                     0
상권_구분_코드_명                   0
상권_코드                        0
상권_코드_명                      0
서비스_업종_코드                    0
서비스_업종_코드_명                  0
당월_매출_금액                     0
당월_매출_건수                     0
주중_매출_금액                     0
주말_매출_금액                     0
월요일_매출_금액                    0
화요일_매출_금액                    0
수요일_매출_금액                    0
목요일_매출_금액                    0
금요일_매출_금액                    0
토요일_매출_금액                    0
일요일_매출_금액                    0
시간대_00~06_매출_금액              0
시간대_06~11_매출_금액              0
시간대_11~14_매출_금액              0
시간대_14~17_매출_금액              0
시간대_17~21_매출_금액              0
시간대_21~24_매출_금액              0
남성_매출_금액                     0
여성_매출_금액                     0
연령대_10_매출_금액                 0
연령대_20_매출_금액                 0
연령대_30_매출_금액                 0
연령대_40_매출_금액                 0
연령대_50_매출_금액                 0
연령대_60_이상_매출_금액              0
주중_매출_건수                     0
주말_매출_건수                     0
월요일_매출_건수                    0
화요일_매출_건수                    0
수요일_매출_건수                    0
목요일_매출_건수                    0
금요일_매출_건수                    0
토요일_매출_건수                    0
일요일_매출_건수                    0
시간대_건수~06_매출_건수              0
시간대_건수~11_매출_건수              0
시간대_건수~14_매출_건수              0
시간대_건수~17_매출_건수              0
시간대_건수~21_매출_건수              0
시간대_건수~24_매출_건수              0
남성_매출_건수                     0
여성_매출_건수                     0
연령대_10_매출_건수                 0
연령대_20_매출_건수                 0
연령대_30_매출_건수                 0
연령대_40_매출_건수                 0
연령대_50_매출_건수                 0
연령대_60_이상_매출_건수              0
월_평균_소득_금액                 464
소득_구간_코드                   464
지출_총금액                    1655
식료품_지출_총금액                1655
의류_신발_지출_총금액              1655
생활용품_지출_총금액               1655
의료비_지출_총금액                1655
교통_지출_총금액                 1655
여가_지출_총금액                 1655
문화_지출_총금액                 1655
교육_지출_총금액                 1655
유흥_지출_총금액                 1655
총_유동인구_수                     0
남성_유동인구_수                    0
여성_유동인구_수                    0
연령대_10_유동인구_수                0
연령대_20_유동인구_수                0
연령대_30_유동인구_수                0
연령대_40_유동인구_수                0
연령대_50_유동인구_수                0
연령대_60_이상_유동인구_수             0
시간대_00_06_유동인구_수             0
시간대_06_11_유동인구_수             0
시간대_11_14_유동인구_수             0
시간대_14_17_유동인구_수             0
시간대_17_21_유동인구_수             0
시간대_21_24_유동인구_수             0
월요일_유동인구_수                   0
화요일_유동인구_수                   0
수요일_유동인구_수                   0
목요일_유동인구_수                   0
금요일_유동인구_수                   0
토요일_유동인구_수                   0
일요일_유동인구_수                   0
총_상주인구_수                   339
남성_상주인구_수                  339
여성_상주인구_수                  339
연령대_10_상주인구_수              339
연령대_20_상주인구_수              339
연령대_30_상주인구_수              339
연령대_40_상주인구_수              339
연령대_50_상주인구_수              339
연령대_60_이상_상주인구_수           339
남성연령대_10_상주인구_수            339
남성연령대_20_상주인구_수            339
남성연령대_30_상주인구_수            339
남성연령대_40_상주인구_수            339
남성연령대_50_상주인구_수            339
남성연령대_60_이상_상주인구_수         339
여성연령대_10_상주인구_수            339
여성연령대_20_상주인구_수            339
여성연령대_30_상주인구_수            339
여성연령대_40_상주인구_수            339
여성연령대_50_상주인구_수            339
여성연령대_60_이상_상주인구_수         339
총_가구_수                     339
아파트_가구_수                   339
비_아파트_가구_수                 339
아파트_단지_수                  5891
아파트_면적_66_제곱미터_미만_세대_수    5891
아파트_면적_66_제곱미터_세대_수       5891
아파트_면적_99_제곱미터_세대_수       5891
아파트_면적_132_제곱미터_세대_수      5891
아파트_면적_165_제곱미터_세대_수      5891
아파트_가격_1_억_미만_세대_수        5891
아파트_가격_1_억_세대_수           5891
아파트_가격_2_억_세대_수           5891
아파트_가격_3_억_세대_수           5891
아파트_가격_4_억_세대_수           5891
아파트_가격_5_억_세대_수           5891
아파트_가격_6_억_이상_세대_수        5891
아파트_평균_면적                 5891
아파트_평균_시가                 5891
총_직장_인구_수                  221
남성_직장_인구_수                 221
여성_직장_인구_수                 221
연령대_10_직장_인구_수             221
연령대_20_직장_인구_수             221
연령대_30_직장_인구_수             221
연령대_40_직장_인구_수             221
연령대_50_직장_인구_수             221
연령대_60_이상_직장_인구_수          221
남성연령대_10_직장_인구_수           221
남성연령대_20_직장_인구_수           221
남성연령대_30_직장_인구_수           221
남성연령대_40_직장_인구_수           221
남성연령대_50_직장_인구_수           221
남성연령대_60_이상_직장_인구_수        221
여성연령대_10_직장_인구_수           221
여성연령대_20_직장_인구_수           221
여성연령대_30_직장_인구_수           221
여성연령대_40_직장_인구_수           221
여성연령대_50_직장_인구_수           221
여성연령대_60_이상_직장_인구_수        221
집객시설_수                     660
관공서_수                      660
은행_수                       660
종합병원_수                     660
일반_병원_수                    660
약국_수                       660
유치원_수                      660
초등학교_수                     660
중학교_수                      660
고등학교_수                     660
대학교_수                      660
백화점_수                      660
슈퍼마켓_수                     660
극장_수                       660
숙박_시설_수                    660
공항_수                       660
철도_역_수                     660
버스_터미널_수                   660
지하철_역_수                    660
버스_정거장_수                   660
점포_수                         0
유사_업종_점포_수                   0
개업_율                         0
개업_점포_수                      0
폐업_률                         0
폐업_점포_수                      0
프랜차이즈_점포_수                   0
엑스좌표_값                       0
와이좌표_값                       0
자치구_코드                       0
자치구_코드_명                     0
행정동_코드                       0
행정동_코드_명                     0
영역_면적                        0
상권_변화_지표                     0
상권_변화_지표_명                   0
운영_영업_개월_평균                  0
폐업_영업_개월_평균                  0
서울_운영_영업_개월_평균               0
서울_폐업_영업_개월_평균               0

## 20202

In [42]:
# 데이터 로드
sales_data = pd.read_csv('서울시_상권분석서비스(추정매출-상권)_2020년.csv', encoding='euc-kr')
income_expenditure_data = pd.read_csv('서울시 상권분석서비스(소득소비-상권).csv', encoding='euc-kr')
floating_population_data = pd.read_csv('서울시 상권분석서비스(길단위인구-상권).csv', encoding='euc-kr')
resident_population_data = pd.read_csv('서울시 상권분석서비스(상주인구-상권).csv', encoding='euc-kr')
# 아파트 - 결측치 처리를 위해 0으로 처리
apartment_data = pd.read_csv('서울시 상권분석서비스(아파트-상권).csv', encoding='euc-kr').fillna(0)
work_population_data = pd.read_csv('서울시 상권분석서비스(직장인구-상권).csv', encoding='euc-kr')
# 집객시설 - 결측치 처리를 위해 0으로 처리
attraction_facility_data = pd.read_csv('서울시 상권분석서비스(집객시설-상권).csv', encoding='euc-kr').fillna(0)
store_data = pd.read_csv('서울시_상권분석서비스(점포-상권)_2020년.csv', encoding='euc-kr')
area_data = pd.read_csv('서울시 상권분석서비스(영역-상권).csv', encoding='euc-kr')
change_data = pd.read_csv('서울시 상권분석서비스(상권변화지표-상권).csv', encoding='euc-kr')


# 데이터 병합
merged20_data = sales_data.merge(income_expenditure_data, on=['기준_년분기_코드', '상권_코드'], how='left', suffixes=('', '_income')) \
                        .merge(floating_population_data, on=['기준_년분기_코드', '상권_코드'], how='left', suffixes=('', '_floating')) \
                        .merge(resident_population_data, on=['기준_년분기_코드', '상권_코드'], how='left', suffixes=('', '_resident')) \
                        .merge(apartment_data, on=['기준_년분기_코드', '상권_코드'], how='left', suffixes=('', '_apartment')) \
                        .merge(work_population_data, on=['기준_년분기_코드', '상권_코드'], how='left', suffixes=('', '_work')) \
                        .merge(attraction_facility_data, on=['기준_년분기_코드', '상권_코드'], how='left', suffixes=('', '_attraction')) \
                        .merge(store_data, on=['기준_년분기_코드', '상권_코드','서비스_업종_코드'], how='left', suffixes=('', '_store')) \
                        .merge(area_data, on=['상권_코드'], how='left', suffixes=('', '_area')) \
                        .merge(change_data, on=['기준_년분기_코드', '상권_코드'], how='left', suffixes=('', '_change'))


# 불필요한 열 제거
columns_to_drop = ['상권_구분_코드_floating', '상권_구분_코드_명_floating', '상권_코드_명_floating', 
                   '상권_구분_코드_resident', '상권_구분_코드_명_resident', '상권_코드_명_resident',
                   '상권_구분_코드_apartment', '상권_구분_코드_명_apartment', '상권_코드_명_apartment',
                   '상권_구분_코드_work', '상권_구분_코드_명_work', '상권_코드_명_work',
                   '상권_구분_코드_attraction', '상권_구분_코드_명_attraction', '상권_코드_명_attraction',
                   '상권_구분_코드_income', '상권_구분_코드_명_income', '상권_코드_명_income',
                  '상권_구분_코드_store', '상권_구분_코드_명_store', '상권_코드_명_store','서비스_업종_코드_명_store',
                  '상권_구분_코드_area', '상권_구분_코드_명_area', '상권_코드_명_area',
                  '상권_구분_코드_change', '상권_구분_코드_명_change', '상권_코드_명_change',
                  ]


merged20_data.drop(columns=columns_to_drop, inplace=True)

merged20_data.to_csv('all_merged_2020.csv', index = False)

# 결측값 개수 확인
null_counts20 = merged20_data.isnull().sum()

# 전체 결측값 개수 출력
print(null_counts20.to_string())

기준_년분기_코드                     0
상권_구분_코드                      0
상권_구분_코드_명                    0
상권_코드                         0
상권_코드_명                       0
서비스_업종_코드                     0
서비스_업종_코드_명                   0
당월_매출_금액                      0
당월_매출_건수                      0
주중_매출_금액                      0
주말_매출_금액                      0
월요일_매출_금액                     0
화요일_매출_금액                     0
수요일_매출_금액                     0
목요일_매출_금액                     0
금요일_매출_금액                     0
토요일_매출_금액                     0
일요일_매출_금액                     0
시간대_00~06_매출_금액               0
시간대_06~11_매출_금액               0
시간대_11~14_매출_금액               0
시간대_14~17_매출_금액               0
시간대_17~21_매출_금액               0
시간대_21~24_매출_금액               0
남성_매출_금액                      0
여성_매출_금액                      0
연령대_10_매출_금액                  0
연령대_20_매출_금액                  0
연령대_30_매출_금액                  0
연령대_40_매출_금액                  0
연령대_50_매출_금액                  0
연령대_60_이상_매출_금액               0
주중_매출_건수                      0
주말_매출_건수                      0
월요일_매출_건수                     0
화요일_매출_건수                     0
수요일_매출_건수                     0
목요일_매출_건수                     0
금요일_매출_건수                     0
토요일_매출_건수                     0
일요일_매출_건수                     0
시간대_건수~06_매출_건수               0
시간대_건수~11_매출_건수               0
시간대_건수~14_매출_건수               0
시간대_건수~17_매출_건수               0
시간대_건수~21_매출_건수               0
시간대_건수~24_매출_건수               0
남성_매출_건수                      0
여성_매출_건수                      0
연령대_10_매출_건수                  0
연령대_20_매출_건수                  0
연령대_30_매출_건수                  0
연령대_40_매출_건수                  0
연령대_50_매출_건수                  0
연령대_60_이상_매출_건수               0
월_평균_소득_금액                  454
소득_구간_코드                    454
지출_총금액                     1601
식료품_지출_총금액                 1601
의류_신발_지출_총금액               1601
생활용품_지출_총금액                1601
의료비_지출_총금액                 1601
교통_지출_총금액                  1601
여가_지출_총금액                  1601
문화_지출_총금액                  1601
교육_지출_총금액                  1601
유흥_지출_총금액                  1601
총_유동인구_수                      0
남성_유동인구_수                     0
여성_유동인구_수                     0
연령대_10_유동인구_수                 0
연령대_20_유동인구_수                 0
연령대_30_유동인구_수                 0
연령대_40_유동인구_수                 0
연령대_50_유동인구_수                 0
연령대_60_이상_유동인구_수              0
시간대_00_06_유동인구_수              0
시간대_06_11_유동인구_수              0
시간대_11_14_유동인구_수              0
시간대_14_17_유동인구_수              0
시간대_17_21_유동인구_수              0
시간대_21_24_유동인구_수              0
월요일_유동인구_수                    0
화요일_유동인구_수                    0
수요일_유동인구_수                    0
목요일_유동인구_수                    0
금요일_유동인구_수                    0
토요일_유동인구_수                    0
일요일_유동인구_수                    0
총_상주인구_수                    301
남성_상주인구_수                   301
여성_상주인구_수                   301
연령대_10_상주인구_수               301
연령대_20_상주인구_수               301
연령대_30_상주인구_수               301
연령대_40_상주인구_수               301
연령대_50_상주인구_수               301
연령대_60_이상_상주인구_수            301
남성연령대_10_상주인구_수             301
남성연령대_20_상주인구_수             301
남성연령대_30_상주인구_수             301
남성연령대_40_상주인구_수             301
남성연령대_50_상주인구_수             301
남성연령대_60_이상_상주인구_수          301
여성연령대_10_상주인구_수             301
여성연령대_20_상주인구_수             301
여성연령대_30_상주인구_수             301
여성연령대_40_상주인구_수             301
여성연령대_50_상주인구_수             301
여성연령대_60_이상_상주인구_수          301
총_가구_수                      301
아파트_가구_수                    301
비_아파트_가구_수                  301
아파트_단지_수                   5583
아파트_면적_66_제곱미터_미만_세대_수     5583
아파트_면적_66_제곱미터_세대_수        5583
아파트_면적_99_제곱미터_세대_수        5583
아파트_면적_132_제곱미터_세대_수       5583
아파트_면적_165_제곱미터_세대_수       5583
아파트_가격_1_억_미만_세대_수         5583
아파트_가격_1_억_세대_수            5583
아파트_가격_2_억_세대_수            5583
아파트_가격_3_억_세대_수            5583
아파트_가격_4_억_세대_수            5583
아파트_가격_5_억_세대_수            5583
아파트_가격_6_억_이상_세대_수         5583
아파트_평균_면적                  5583
아파트_평균_시가                  5583
총_직장_인구_수                   206
남성_직장_인구_수                  206
여성_직장_인구_수                  206
연령대_10_직장_인구_수              206
연령대_20_직장_인구_수              206
연령대_30_직장_인구_수              206
연령대_40_직장_인구_수              206
연령대_50_직장_인구_수              206
연령대_60_이상_직장_인구_수           206
남성연령대_10_직장_인구_수            206
남성연령대_20_직장_인구_수            206
남성연령대_30_직장_인구_수            206
남성연령대_40_직장_인구_수            206
남성연령대_50_직장_인구_수            206
남성연령대_60_이상_직장_인구_수         206
여성연령대_10_직장_인구_수            206
여성연령대_20_직장_인구_수            206
여성연령대_30_직장_인구_수            206
여성연령대_40_직장_인구_수            206
여성연령대_50_직장_인구_수            206
여성연령대_60_이상_직장_인구_수         206
집객시설_수                    59977
관공서_수                     59977
은행_수                      59977
종합병원_수                    59977
일반_병원_수                   59977
약국_수                      59977
유치원_수                     59977
초등학교_수                    59977
중학교_수                     59977
고등학교_수                    59977
대학교_수                     59977
백화점_수                     59977
슈퍼마켓_수                    59977
극장_수                      59977
숙박_시설_수                   59977
공항_수                      59977
철도_역_수                    59977
버스_터미널_수                  59977
지하철_역_수                   59977
버스_정거장_수                  59977
점포_수                          0
유사_업종_점포_수                    0
개업_율                          0
개업_점포_수                       0
폐업_률                          0
폐업_점포_수                       0
프랜차이즈_점포_수                    0
엑스좌표_값                        0
와이좌표_값                        0
자치구_코드                        0
자치구_코드_명                      0
행정동_코드                        0
행정동_코드_명                      0
영역_면적                         0
상권_변화_지표                      0
상권_변화_지표_명                    0
운영_영업_개월_평균                   0
폐업_영업_개월_평균                   0
서울_운영_영업_개월_평균                0
서울_폐업_영업_개월_평균                0

## 2019

In [43]:
# 데이터 로드
sales_data = pd.read_csv('서울시_상권분석서비스(추정매출-상권)_2019년.csv', encoding='euc-kr')
income_expenditure_data = pd.read_csv('서울시 상권분석서비스(소득소비-상권).csv', encoding='euc-kr')
floating_population_data = pd.read_csv('서울시 상권분석서비스(길단위인구-상권).csv', encoding='euc-kr')
resident_population_data = pd.read_csv('서울시 상권분석서비스(상주인구-상권).csv', encoding='euc-kr')
# 아파트 - 결측치 처리를 위해 0으로 처리
apartment_data = pd.read_csv('서울시 상권분석서비스(아파트-상권).csv', encoding='euc-kr').fillna(0)
work_population_data = pd.read_csv('서울시 상권분석서비스(직장인구-상권).csv', encoding='euc-kr')
# 집객시설 - 결측치 처리를 위해 0으로 처리
attraction_facility_data = pd.read_csv('서울시 상권분석서비스(집객시설-상권).csv', encoding='euc-kr').fillna(0)
store_data = pd.read_csv('서울시_상권분석서비스(점포-상권)_2019년.csv', encoding='euc-kr')
area_data = pd.read_csv('서울시 상권분석서비스(영역-상권).csv', encoding='euc-kr')
change_data = pd.read_csv('서울시 상권분석서비스(상권변화지표-상권).csv', encoding='euc-kr')


# 데이터 병합
merged19_data = sales_data.merge(income_expenditure_data, on=['기준_년분기_코드', '상권_코드'], how='left', suffixes=('', '_income')) \
                        .merge(floating_population_data, on=['기준_년분기_코드', '상권_코드'], how='left', suffixes=('', '_floating')) \
                        .merge(resident_population_data, on=['기준_년분기_코드', '상권_코드'], how='left', suffixes=('', '_resident')) \
                        .merge(apartment_data, on=['기준_년분기_코드', '상권_코드'], how='left', suffixes=('', '_apartment')) \
                        .merge(work_population_data, on=['기준_년분기_코드', '상권_코드'], how='left', suffixes=('', '_work')) \
                        .merge(attraction_facility_data, on=['기준_년분기_코드', '상권_코드'], how='left', suffixes=('', '_attraction')) \
                        .merge(store_data, on=['기준_년분기_코드', '상권_코드','서비스_업종_코드'], how='left', suffixes=('', '_store')) \
                        .merge(area_data, on=['상권_코드'], how='left', suffixes=('', '_area')) \
                        .merge(change_data, on=['기준_년분기_코드', '상권_코드'], how='left', suffixes=('', '_change'))

# 불필요한 열 제거
columns_to_drop = ['상권_구분_코드_floating', '상권_구분_코드_명_floating', '상권_코드_명_floating', 
                   '상권_구분_코드_resident', '상권_구분_코드_명_resident', '상권_코드_명_resident',
                   '상권_구분_코드_apartment', '상권_구분_코드_명_apartment', '상권_코드_명_apartment',
                   '상권_구분_코드_work', '상권_구분_코드_명_work', '상권_코드_명_work',
                   '상권_구분_코드_attraction', '상권_구분_코드_명_attraction', '상권_코드_명_attraction',
                   '상권_구분_코드_income', '상권_구분_코드_명_income', '상권_코드_명_income',
                  '상권_구분_코드_store', '상권_구분_코드_명_store', '상권_코드_명_store','서비스_업종_코드_명_store',
                  '상권_구분_코드_area', '상권_구분_코드_명_area', '상권_코드_명_area',
                  '상권_구분_코드_change', '상권_구분_코드_명_change', '상권_코드_명_change',
                  ]

merged19_data.drop(columns=columns_to_drop, inplace=True)

merged19_data.to_csv('all_merged_2019.csv', index = False)

# 결측값 개수 확인
null_counts19 = merged19_data.isnull().sum()

# 전체 결측값 개수 출력
print(null_counts19.to_string())

기준_년분기_코드                     0
상권_구분_코드                      0
상권_구분_코드_명                    0
상권_코드                         0
상권_코드_명                       0
서비스_업종_코드                     0
서비스_업종_코드_명                   0
당월_매출_금액                      0
당월_매출_건수                      0
주중_매출_금액                      0
주말_매출_금액                      0
월요일_매출_금액                     0
화요일_매출_금액                     0
수요일_매출_금액                     0
목요일_매출_금액                     0
금요일_매출_금액                     0
토요일_매출_금액                     0
일요일_매출_금액                     0
시간대_00~06_매출_금액               0
시간대_06~11_매출_금액               0
시간대_11~14_매출_금액               0
시간대_14~17_매출_금액               0
시간대_17~21_매출_금액               0
시간대_21~24_매출_금액               0
남성_매출_금액                      0
여성_매출_금액                      0
연령대_10_매출_금액                  0
연령대_20_매출_금액                  0
연령대_30_매출_금액                  0
연령대_40_매출_금액                  0
연령대_50_매출_금액                  0
연령대_60_이상_매출_금액               0
주중_매출_건수                      0
주말_매출_건수                      0
월요일_매출_건수                     0
화요일_매출_건수                     0
수요일_매출_건수                     0
목요일_매출_건수                     0
금요일_매출_건수                     0
토요일_매출_건수                     0
일요일_매출_건수                     0
시간대_건수~06_매출_건수               0
시간대_건수~11_매출_건수               0
시간대_건수~14_매출_건수               0
시간대_건수~17_매출_건수               0
시간대_건수~21_매출_건수               0
시간대_건수~24_매출_건수               0
남성_매출_건수                      0
여성_매출_건수                      0
연령대_10_매출_건수                  0
연령대_20_매출_건수                  0
연령대_30_매출_건수                  0
연령대_40_매출_건수                  0
연령대_50_매출_건수                  0
연령대_60_이상_매출_건수               0
월_평균_소득_금액                  506
소득_구간_코드                    506
지출_총금액                     1576
식료품_지출_총금액                 1576
의류_신발_지출_총금액               1576
생활용품_지출_총금액                1576
의료비_지출_총금액                 1576
교통_지출_총금액                  1576
여가_지출_총금액                  1576
문화_지출_총금액                  1576
교육_지출_총금액                  1576
유흥_지출_총금액                  1576
총_유동인구_수                      0
남성_유동인구_수                     0
여성_유동인구_수                     0
연령대_10_유동인구_수                 0
연령대_20_유동인구_수                 0
연령대_30_유동인구_수                 0
연령대_40_유동인구_수                 0
연령대_50_유동인구_수                 0
연령대_60_이상_유동인구_수              0
시간대_00_06_유동인구_수              0
시간대_06_11_유동인구_수              0
시간대_11_14_유동인구_수              0
시간대_14_17_유동인구_수              0
시간대_17_21_유동인구_수              0
시간대_21_24_유동인구_수              0
월요일_유동인구_수                    0
화요일_유동인구_수                    0
수요일_유동인구_수                    0
목요일_유동인구_수                    0
금요일_유동인구_수                    0
토요일_유동인구_수                    0
일요일_유동인구_수                    0
총_상주인구_수                  58651
남성_상주인구_수                 58651
여성_상주인구_수                 58651
연령대_10_상주인구_수             58651
연령대_20_상주인구_수             58651
연령대_30_상주인구_수             58651
연령대_40_상주인구_수             58651
연령대_50_상주인구_수             58651
연령대_60_이상_상주인구_수          58651
남성연령대_10_상주인구_수           58651
남성연령대_20_상주인구_수           58651
남성연령대_30_상주인구_수           58651
남성연령대_40_상주인구_수           58651
남성연령대_50_상주인구_수           58651
남성연령대_60_이상_상주인구_수        58651
여성연령대_10_상주인구_수           58651
여성연령대_20_상주인구_수           58651
여성연령대_30_상주인구_수           58651
여성연령대_40_상주인구_수           58651
여성연령대_50_상주인구_수           58651
여성연령대_60_이상_상주인구_수        58651
총_가구_수                    58651
아파트_가구_수                  58651
비_아파트_가구_수                58651
아파트_단지_수                  59966
아파트_면적_66_제곱미터_미만_세대_수    59966
아파트_면적_66_제곱미터_세대_수       59966
아파트_면적_99_제곱미터_세대_수       59966
아파트_면적_132_제곱미터_세대_수      59966
아파트_면적_165_제곱미터_세대_수      59966
아파트_가격_1_억_미만_세대_수        59966
아파트_가격_1_억_세대_수           59966
아파트_가격_2_억_세대_수           59966
아파트_가격_3_억_세대_수           59966
아파트_가격_4_억_세대_수           59966
아파트_가격_5_억_세대_수           59966
아파트_가격_6_억_이상_세대_수        59966
아파트_평균_면적                 59966
아파트_평균_시가                 59966
총_직장_인구_수                 39295
남성_직장_인구_수                39295
여성_직장_인구_수                39295
연령대_10_직장_인구_수            39295
연령대_20_직장_인구_수            39295
연령대_30_직장_인구_수            39295
연령대_40_직장_인구_수            39295
연령대_50_직장_인구_수            39295
연령대_60_이상_직장_인구_수         39295
남성연령대_10_직장_인구_수          39295
남성연령대_20_직장_인구_수          39295
남성연령대_30_직장_인구_수          39295
남성연령대_40_직장_인구_수          39295
남성연령대_50_직장_인구_수          39295
남성연령대_60_이상_직장_인구_수       39295
여성연령대_10_직장_인구_수          39295
여성연령대_20_직장_인구_수          39295
여성연령대_30_직장_인구_수          39295
여성연령대_40_직장_인구_수          39295
여성연령대_50_직장_인구_수          39295
여성연령대_60_이상_직장_인구_수       39295
집객시설_수                    78405
관공서_수                     78405
은행_수                      78405
종합병원_수                    78405
일반_병원_수                   78405
약국_수                      78405
유치원_수                     78405
초등학교_수                    78405
중학교_수                     78405
고등학교_수                    78405
대학교_수                     78405
백화점_수                     78405
슈퍼마켓_수                    78405
극장_수                      78405
숙박_시설_수                   78405
공항_수                      78405
철도_역_수                    78405
버스_터미널_수                  78405
지하철_역_수                   78405
버스_정거장_수                  78405
점포_수                          0
유사_업종_점포_수                    0
개업_율                          0
개업_점포_수                       0
폐업_률                          0
폐업_점포_수                       0
프랜차이즈_점포_수                    0
엑스좌표_값                        0
와이좌표_값                        0
자치구_코드                        0
자치구_코드_명                      0
행정동_코드                        0
행정동_코드_명                      0
영역_면적                         0
상권_변화_지표                      0
상권_변화_지표_명                    0
운영_영업_개월_평균                   0
폐업_영업_개월_평균                   0
서울_운영_영업_개월_평균                0
서울_폐업_영업_개월_평균                0

# 2023년 1분기 ~ 2024년 1분기

In [44]:
import pandas as pd

# 데이터 로드
sales_data = pd.read_csv('서울시 상권분석서비스(추정매출-상권).csv', encoding='euc-kr')
income_expenditure_data = pd.read_csv('서울시 상권분석서비스(소득소비-상권).csv', encoding='euc-kr')
floating_population_data = pd.read_csv('서울시 상권분석서비스(길단위인구-상권).csv', encoding='euc-kr')
resident_population_data = pd.read_csv('서울시 상권분석서비스(상주인구-상권).csv', encoding='euc-kr')
# 아파트 - 결측치 처리를 위해 0으로 처리
apartment_data = pd.read_csv('서울시 상권분석서비스(아파트-상권).csv', encoding='euc-kr').fillna(0)
work_population_data = pd.read_csv('서울시 상권분석서비스(직장인구-상권).csv', encoding='euc-kr')
# 집객시설 - 결측치 처리를 위해 0으로 처리
attraction_facility_data = pd.read_csv('서울시 상권분석서비스(집객시설-상권).csv', encoding='euc-kr').fillna(0)
store_data = pd.read_csv('서울시 상권분석서비스(점포-상권).csv', encoding='euc-kr')
area_data = pd.read_csv('서울시 상권분석서비스(영역-상권).csv', encoding='euc-kr')
change_data = pd.read_csv('서울시 상권분석서비스(상권변화지표-상권).csv', encoding='euc-kr')


# 데이터 병합
merged_data2324 = sales_data.merge(income_expenditure_data, on=['기준_년분기_코드', '상권_코드'], how='left', suffixes=('', '_income')) \
                        .merge(floating_population_data, on=['기준_년분기_코드', '상권_코드'], how='left', suffixes=('', '_floating')) \
                        .merge(resident_population_data, on=['기준_년분기_코드', '상권_코드'], how='left', suffixes=('', '_resident')) \
                        .merge(apartment_data, on=['기준_년분기_코드', '상권_코드'], how='left', suffixes=('', '_apartment')) \
                        .merge(work_population_data, on=['기준_년분기_코드', '상권_코드'], how='left', suffixes=('', '_work')) \
                        .merge(attraction_facility_data, on=['기준_년분기_코드', '상권_코드'], how='left', suffixes=('', '_attraction')) \
                        .merge(store_data, on=['기준_년분기_코드', '상권_코드','서비스_업종_코드'], how='left', suffixes=('', '_store')) \
                        .merge(area_data, on=['상권_코드'], how='left', suffixes=('', '_area')) \
                        .merge(change_data, on=['기준_년분기_코드', '상권_코드'], how='left', suffixes=('', '_change'))

# 불필요한 열 제거
columns_to_drop = ['상권_구분_코드_floating', '상권_구분_코드_명_floating', '상권_코드_명_floating', 
                   '상권_구분_코드_resident', '상권_구분_코드_명_resident', '상권_코드_명_resident',
                   '상권_구분_코드_apartment', '상권_구분_코드_명_apartment', '상권_코드_명_apartment',
                   '상권_구분_코드_work', '상권_구분_코드_명_work', '상권_코드_명_work',
                   '상권_구분_코드_attraction', '상권_구분_코드_명_attraction', '상권_코드_명_attraction',
                   '상권_구분_코드_income', '상권_구분_코드_명_income', '상권_코드_명_income',
                  '상권_구분_코드_store', '상권_구분_코드_명_store', '상권_코드_명_store','서비스_업종_코드_명_store',
                  '상권_구분_코드_area', '상권_구분_코드_명_area', '상권_코드_명_area',
                  '상권_구분_코드_change', '상권_구분_코드_명_change', '상권_코드_명_change',
                  ]

merged_data2324.drop(columns=columns_to_drop, inplace=True)

merged_data2324.to_csv('all_merged_202324.csv', index = False)

# 결측값 개수 확인
null_counts2324 = merged_data2324.isnull().sum()

# 전체 결측값 개수 출력
print(null_counts2324.to_string())

기준_년분기_코드                     0
상권_구분_코드                      0
상권_구분_코드_명                    0
상권_코드                         0
상권_코드_명                       0
서비스_업종_코드                     0
서비스_업종_코드_명                   0
당월_매출_금액                      0
당월_매출_건수                      0
주중_매출_금액                      0
주말_매출_금액                      0
월요일_매출_금액                     0
화요일_매출_금액                     0
수요일_매출_금액                     0
목요일_매출_금액                     0
금요일_매출_금액                     0
토요일_매출_금액                     0
일요일_매출_금액                     0
시간대_00~06_매출_금액               0
시간대_06~11_매출_금액               0
시간대_11~14_매출_금액               0
시간대_14~17_매출_금액               0
시간대_17~21_매출_금액               0
시간대_21~24_매출_금액               0
남성_매출_금액                      0
여성_매출_금액                      0
연령대_10_매출_금액                  0
연령대_20_매출_금액                  0
연령대_30_매출_금액                  0
연령대_40_매출_금액                  0
연령대_50_매출_금액                  0
연령대_60_이상_매출_금액               0
주중_매출_건수                      0
주말_매출_건수                      0
월요일_매출_건수                     0
화요일_매출_건수                     0
수요일_매출_건수                     0
목요일_매출_건수                     0
금요일_매출_건수                     0
토요일_매출_건수                     0
일요일_매출_건수                     0
시간대_건수~06_매출_건수               0
시간대_건수~11_매출_건수               0
시간대_건수~14_매출_건수               0
시간대_건수~17_매출_건수               0
시간대_건수~21_매출_건수               0
시간대_건수~24_매출_건수               0
남성_매출_건수                      0
여성_매출_건수                      0
연령대_10_매출_건수                  0
연령대_20_매출_건수                  0
연령대_30_매출_건수                  0
연령대_40_매출_건수                  0
연령대_50_매출_건수                  0
연령대_60_이상_매출_건수               0
월_평균_소득_금액                  608
소득_구간_코드                    608
지출_총금액                    22302
식료품_지출_총금액                22302
의류_신발_지출_총금액              22302
생활용품_지출_총금액               22302
의료비_지출_총금액                22302
교통_지출_총금액                 22302
여가_지출_총금액                 22302
문화_지출_총금액                 22302
교육_지출_총금액                 22302
유흥_지출_총금액                 22302
총_유동인구_수                     13
남성_유동인구_수                    13
여성_유동인구_수                    13
연령대_10_유동인구_수                13
연령대_20_유동인구_수                13
연령대_30_유동인구_수                13
연령대_40_유동인구_수                13
연령대_50_유동인구_수                13
연령대_60_이상_유동인구_수             13
시간대_00_06_유동인구_수             13
시간대_06_11_유동인구_수             13
시간대_11_14_유동인구_수             13
시간대_14_17_유동인구_수             13
시간대_17_21_유동인구_수             13
시간대_21_24_유동인구_수             13
월요일_유동인구_수                   13
화요일_유동인구_수                   13
수요일_유동인구_수                   13
목요일_유동인구_수                   13
금요일_유동인구_수                   13
토요일_유동인구_수                   13
일요일_유동인구_수                   13
총_상주인구_수                    530
남성_상주인구_수                   530
여성_상주인구_수                   530
연령대_10_상주인구_수               530
연령대_20_상주인구_수               530
연령대_30_상주인구_수               530
연령대_40_상주인구_수               530
연령대_50_상주인구_수               530
연령대_60_이상_상주인구_수            530
남성연령대_10_상주인구_수             530
남성연령대_20_상주인구_수             530
남성연령대_30_상주인구_수             530
남성연령대_40_상주인구_수             530
남성연령대_50_상주인구_수             530
남성연령대_60_이상_상주인구_수          530
여성연령대_10_상주인구_수             530
여성연령대_20_상주인구_수             530
여성연령대_30_상주인구_수             530
여성연령대_40_상주인구_수             530
여성연령대_50_상주인구_수             530
여성연령대_60_이상_상주인구_수          530
총_가구_수                      530
아파트_가구_수                    530
비_아파트_가구_수                  530
아파트_단지_수                   8170
아파트_면적_66_제곱미터_미만_세대_수     8170
아파트_면적_66_제곱미터_세대_수        8170
아파트_면적_99_제곱미터_세대_수        8170
아파트_면적_132_제곱미터_세대_수       8170
아파트_면적_165_제곱미터_세대_수       8170
아파트_가격_1_억_미만_세대_수         8170
아파트_가격_1_억_세대_수            8170
아파트_가격_2_억_세대_수            8170
아파트_가격_3_억_세대_수            8170
아파트_가격_4_억_세대_수            8170
아파트_가격_5_억_세대_수            8170
아파트_가격_6_억_이상_세대_수         8170
아파트_평균_면적                  8170
아파트_평균_시가                  8170
총_직장_인구_수                   277
남성_직장_인구_수                  277
여성_직장_인구_수                  277
연령대_10_직장_인구_수              277
연령대_20_직장_인구_수              277
연령대_30_직장_인구_수              277
연령대_40_직장_인구_수              277
연령대_50_직장_인구_수              277
연령대_60_이상_직장_인구_수           277
남성연령대_10_직장_인구_수            277
남성연령대_20_직장_인구_수            277
남성연령대_30_직장_인구_수            277
남성연령대_40_직장_인구_수            277
남성연령대_50_직장_인구_수            277
남성연령대_60_이상_직장_인구_수         277
여성연령대_10_직장_인구_수            277
여성연령대_20_직장_인구_수            277
여성연령대_30_직장_인구_수            277
여성연령대_40_직장_인구_수            277
여성연령대_50_직장_인구_수            277
여성연령대_60_이상_직장_인구_수         277
집객시설_수                      805
관공서_수                       805
은행_수                        805
종합병원_수                      805
일반_병원_수                     805
약국_수                        805
유치원_수                       805
초등학교_수                      805
중학교_수                       805
고등학교_수                      805
대학교_수                       805
백화점_수                       805
슈퍼마켓_수                      805
극장_수                        805
숙박_시설_수                     805
공항_수                        805
철도_역_수                      805
버스_터미널_수                    805
지하철_역_수                     805
버스_정거장_수                    805
점포_수                          0
유사_업종_점포_수                    0
개업_율                          0
개업_점포_수                       0
폐업_률                          0
폐업_점포_수                       0
프랜차이즈_점포_수                    0
엑스좌표_값                        0
와이좌표_값                        0
자치구_코드                        0
자치구_코드_명                      0
행정동_코드                        0
행정동_코드_명                      0
영역_면적                         0
상권_변화_지표                      0
상권_변화_지표_명                    0
운영_영업_개월_평균                   0
폐업_영업_개월_평균                   0
서울_운영_영업_개월_평균                0
서울_폐업_영업_개월_평균                0

In [55]:
print(merged_data2324.columns)

Index(['기준_년분기_코드', '상권_구분_코드', '상권_구분_코드_명', '상권_코드', '상권_코드_명', '서비스_업종_코드',
       '서비스_업종_코드_명', '당월_매출_금액', '당월_매출_건수', '주중_매출_금액',
       ...
       '자치구_코드_명', '행정동_코드', '행정동_코드_명', '영역_면적', '상권_변화_지표', '상권_변화_지표_명',
       '운영_영업_개월_평균', '폐업_영업_개월_평균', '서울_운영_영업_개월_평균', '서울_폐업_영업_개월_평균'],
      dtype='object', length=189)

# 임대료 데이터

In [45]:
df_office = pd.read_csv('임대료/상권별_오피스_임대료_3층_이상.csv')

In [61]:
df_office_filter = df_office.iloc[:,[2,4]][df_office['상권별(3)'] != "소계"]
df_office_filter.head()

  상권별(3)  2024.1/4
3    광화문      36.0
4    남대문      34.0
5    동대문      13.8
6     명동      22.0
7     시청      24.2

In [62]:
print(len(df_office_filter))

29

In [63]:
# 선택하여 열 이름 변경하기
df_office_filter = df_office_filter.rename(columns={'상권별(3)':'상권구분', '2024.1/4':'오피스_통합'})
df_office_filter.head()

  상권구분  오피스_통합
3  광화문    36.0
4  남대문    34.0
5  동대문    13.8
6   명동    22.0
7   시청    24.2

In [64]:
import pandas as pd
df_store = pd.read_csv('임대료/병합_임대료.csv')

In [66]:
df_store.head()

,상권구분,소규모_통합,소규모_지하1층_임대료,소규모_지하1층_효용비율(%),소규모_1층_임대료,소규모_1층_효용비율(%),소규모_2층_임대료,소규모_2층_효용비율(%),중대형_통합,중대형_지하1층_임대료,...,집합_2층_임대료,집합_2층_효용비율(%),집합_3층_임대료,집합_3층_효용비율(%),집합_4층_임대료,집합_4층_효용비율(%),집합_5층_임대료,집합_5층_효용비율(%),집합_6층이상_임대료,집합_6층이상_효용비율(%)
0,광화문,83.8,NaN,NaN,83.8,100.0,41.9,50.1,86.7,28.1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,남대문,64.6,NaN,NaN,64.6,100.0,24.2,37.4,70.8,19.6,...,134.8,75.2,108.2,60.4,NaN,NaN,NaN,NaN,NaN,NaN
2,동대문,48.1,8.5,17.6,48.1,100.0,21.9,45.4,45.6,13.8,...,56.4,59.4,39.3,41.4,26.6,28.0,8.2,8.7,7.5,7.8
3,명동,141.6,40.4,28.5,141.6,100.0,51.0,36.0,195.9,28.9,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,시청,88.3,NaN,NaN,88.3,100.0,52.4,59.3,66.0,20.4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [68]:
# 오피스 데이터 통합
df_rent = df_store.merge(df_office_filter, on='상권구분', how='left')
df_rent.head()

,상권구분,소규모_통합,소규모_지하1층_임대료,소규모_지하1층_효용비율(%),소규모_1층_임대료,소규모_1층_효용비율(%),소규모_2층_임대료,소규모_2층_효용비율(%),중대형_통합,중대형_지하1층_임대료,...,집합_2층_효용비율(%),집합_3층_임대료,집합_3층_효용비율(%),집합_4층_임대료,집합_4층_효용비율(%),집합_5층_임대료,집합_5층_효용비율(%),집합_6층이상_임대료,집합_6층이상_효용비율(%),오피스_통합
0,광화문,83.8,NaN,NaN,83.8,100.0,41.9,50.1,86.7,28.1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,36.0
1,남대문,64.6,NaN,NaN,64.6,100.0,24.2,37.4,70.8,19.6,...,75.2,108.2,60.4,NaN,NaN,NaN,NaN,NaN,NaN,34.0
2,동대문,48.1,8.5,17.6,48.1,100.0,21.9,45.4,45.6,13.8,...,59.4,39.3,41.4,26.6,28.0,8.2,8.7,7.5,7.8,13.8
3,명동,141.6,40.4,28.5,141.6,100.0,51.0,36.0,195.9,28.9,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,22.0
4,시청,88.3,NaN,NaN,88.3,100.0,52.4,59.3,66.0,20.4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,24.2

In [29]:
# 결측치 확인
filtered_columns = [col for col in df1.columns if '_1층_임대료' in col or '통합' in col]
filtered_columns.append('상권구분')
df1[filtered_columns].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 66 entries, 0 to 65
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   소규모_통합      54 non-null     float64
 1   소규모_1층_임대료  54 non-null     float64
 2   중대형_통합      61 non-null     float64
 3   중대형_1층_임대료  61 non-null     float64
 4   집합_통합       41 non-null     float64
 5   집합_1층_임대료   41 non-null     float64
 6   상권구분        66 non-null     object
dtypes: float64(6), object(1)
memory usage: 3.7+ KB

In [33]:
filtered_columns = [col for col in df1.columns if '_임대료' in col or '통합' in col or '상권구분' in col]
df1[filtered_columns].head()

,상권구분,소규모_통합,소규모_지하1층_임대료,소규모_1층_임대료,소규모_2층_임대료,중대형_통합,중대형_지하1층_임대료,중대형_1층_임대료,중대형_2층_임대료,중대형_3층_임대료,...,중대형_5층_임대료,중대형_6층이상_임대료,집합_통합,집합_지하1층_임대료,집합_1층_임대료,집합_2층_임대료,집합_3층_임대료,집합_4층_임대료,집합_5층_임대료,집합_6층이상_임대료
0,광화문,83.8,NaN,83.8,41.9,86.7,28.1,81.1,40.8,30.5,...,23.1,23.8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,남대문,64.6,NaN,64.6,24.2,70.8,19.6,70.8,24.8,20.0,...,15.3,16.9,178.6,138.1,179.2,134.8,108.2,NaN,NaN,NaN
2,동대문,48.1,8.5,48.1,21.9,45.6,13.8,45.6,18.7,15.0,...,17.1,20.0,94.9,21.9,94.9,56.4,39.3,26.6,8.2,7.5
3,명동,141.6,40.4,141.6,51.0,195.9,28.9,195.9,79.9,59.8,...,42.7,35.9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,시청,88.3,NaN,88.3,52.4,66.0,20.4,66.0,32.9,20.9,...,18.2,14.4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [27]:
# 데이터 기본통계
filtered_columns = [col for col in df1.columns if '_1층_임대료' in col or '통합' in col]
df1[filtered_columns].info

           소규모_통합  소규모_1층_임대료      중대형_통합  중대형_1층_임대료       집합_통합   집합_1층_임대료
count   54.000000   54.000000   61.000000   61.000000   41.000000   41.000000
mean    50.822222   50.590741   51.896721   51.729508   53.002439   53.129268
std     19.650941   19.618342   24.462876   24.349116   27.133379   27.011379
min     26.200000   26.000000   27.700000   27.700000   24.000000   24.000000
25%     37.425000   37.425000   38.800000   38.800000   35.000000   35.600000
50%     46.700000   46.650000   46.300000   45.600000   48.800000   48.800000
75%     59.925000   59.475000   57.000000   56.300000   64.200000   64.200000
max    141.600000  141.600000  195.900000  195.900000  178.600000  179.200000

In [3]:
df2 = pd.read_csv('상권-임대료 매칭.csv')
df2.head()

   TRDAR_CD         TRDAR_CD_N CNAME   Overlap_Area    Distance
0   3110008    배화여자대학교(박노수미술관)   광화문       0.000000  699.313889
1   3001494         종로·청계 관광특구    종로  317313.444411    0.000000
2   3130021             신설종합시장   동대문    9799.528403    0.000000
3   3130002  세종마을음식문화거리(금천교시장)   광화문       0.000000  197.930218
4   3130001               통인시장   광화문       0.000000  572.633234

In [4]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1650 entries, 0 to 1649
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   TRDAR_CD      1650 non-null   int64
 1   TRDAR_CD_N    1650 non-null   object
 2   CNAME         1650 non-null   object
 3   Overlap_Area  1650 non-null   float64
 4   Distance      1650 non-null   float64
dtypes: float64(2), int64(1), object(2)
memory usage: 64.6+ KB

In [12]:
import pandas as pd

# 데이터프레임 불러오기
df1 = pd.read_csv('임대료/병합_임대료.csv')
df2 = pd.read_csv('상권-임대료 매칭_수정.csv')

# 공백제거
df1['상권구분'] = df1['상권구분'].replace(" ", "")
df2['CNAME'] = df2['CNAME'].replace(" ", "")

# 데이터프레임 병합
merged_df = pd.merge(df2, df1, how='left', left_on='CNAME', right_on='상권구분')

# 불필요한 열 제거
merged_df = merged_df.drop(columns=['Overlap_Area', 'Distance', 'CNAME'])

# 결과 확인
print(merged_df.head())

merged_df.to_csv('임대료-상권 매칭 최종.csv', index = False)

   TRDAR_CD         TRDAR_CD_N 상권구분  소규모_통합  소규모_지하1층_임대료  소규모_지하1층_효용비율(%)  \
0   3110008    배화여자대학교(박노수미술관)  광화문    83.8           NaN               NaN
1   3001494         종로·청계 관광특구   종로    67.9           NaN               NaN
2   3130021             신설종합시장  동대문    48.1           8.5              17.6
3   3130002  세종마을음식문화거리(금천교시장)  광화문    83.8           NaN               NaN
4   3130001               통인시장  광화문    83.8           NaN               NaN

   소규모_1층_임대료  소규모_1층_효용비율(%)  소규모_2층_임대료  소규모_2층_효용비율(%)  ...  집합_2층_임대료  \
0        83.8           100.0        41.9            50.1  ...        NaN
1        67.9           100.0        32.3            47.6  ...       24.3
2        48.1           100.0        21.9            45.4  ...       56.4
3        83.8           100.0        41.9            50.1  ...        NaN
4        83.8           100.0        41.9            50.1  ...        NaN

   집합_2층_효용비율(%)  집합_3층_임대료  집합_3층_효용비율(%)  집합_4층_임대료  집합_4층_효용비율(%)  \
0            NaN        NaN            NaN        NaN            NaN
1           54.1       18.9           42.1        7.4           16.6
2           59.4       39.3           41.4       26.6           28.0
3            NaN        NaN            NaN        NaN            NaN
4            NaN        NaN            NaN        NaN            NaN

   집합_5층_임대료  집합_5층_효용비율(%)  집합_6층이상_임대료  집합_6층이상_효용비율(%)
0        NaN            NaN          NaN              NaN
1        7.1           15.8          5.6             12.6
2        8.2            8.7          7.5              7.8
3        NaN            NaN          NaN              NaN
4        NaN            NaN          NaN              NaN

[5 rows x 40 columns]

In [14]:
merged_df['상권구분'][merged_df['소규모_1층_임대료'].isnull()].unique()

array(['구의역', '노원역', '구로디지털단지역', '여의도', '양재말죽거리', '방배역/내방역', '양재역',
       '서래마을', '학동/강남구청역', '한티역', '명일역'], dtype=object)