# TOP Features 15 가지

In [ ]:
## TOP Features 15 가지
# keep_columns = [ 'monthly_average_income_amount',
#                   'total_floating_population',
#                   'total_working_population',
#                   'apartment_average_price',
#                   'total_households',
#                   'total_expenditure_amount',
#                   'total_stores',
#                   'average_operating_months',
#                   'total_attraction_facilities',
#                   'average_closing_months',
#                   'opening_rate',
#                   'closing_rate',
#                   'pharmacies',
#                   'seoul_average_operating_months',
#                   'apartment_average_area']

In [ ]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
import numpy as np
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import OneHotEncoder, StandardScaler
from sklearn.compose import ColumnTransformer
from sklearn.pipeline import Pipeline
from sklearn.ensemble import RandomForestRegressor
from sklearn.multioutput import MultiOutputRegressor
from sklearn.metrics import mean_squared_error

In [ ]:
data = pd.read_csv('/content/drive/MyDrive/FinalProject_data/eng/essential_data_without_encoding.csv')
data

,business_district_type_name,business_district_name,service_industry_name,district_name,administrative_dong_name,business_district_change_index,business_district_change_index_name,service_industry_category,monthly_sales_amount,monthly_average_income_amount,...,opening_rate,number_of_openings,closing_rate,number_of_closures,franchise_stores,average_operating_months,average_closing_months,seoul_average_operating_months,seoul_average_closing_months,monthly_sales_per_store
0,골목상권,이북5도청사,한식음식점,종로구,평창동,HH,정체,음식점,316423585,4354652,...,0,0,0,0,1,97,59,96,50,31642358
1,골목상권,이북5도청사,한식음식점,종로구,평창동,LH,상권확장,음식점,298018986,4354652,...,0,0,0,0,1,95,59,96,50,29801899
2,골목상권,이북5도청사,한식음식점,종로구,평창동,LH,상권확장,음식점,390767034,4354652,...,9,1,0,0,1,91,59,96,50,35524276
3,골목상권,이북5도청사,한식음식점,종로구,평창동,LH,상권확장,음식점,355524163,4354652,...,0,0,10,1,1,89,59,96,51,35552416
4,골목상권,이북5도청사,한식음식점,종로구,평창동,LH,상권확장,음식점,357856685,4354652,...,0,0,0,0,1,92,60,95,51,35785668
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
219559,전통시장,창동골목시장,미용실,도봉구,창3동,HL,상권축소,미용,44690306,2171979,...,0,0,0,0,0,116,49,103,51,7448384
219560,전통시장,창동골목시장,미용실,도봉구,창3동,HL,상권축소,미용,45208910,2171979,...,0,0,0,0,0,120,50,104,52,7534818
219561,전통시장,창동골목시장,미용실,도봉구,창3동,HL,상권축소,미용,44357768,2171979,...,0,0,0,0,0,120,50,106,52,7392961
219562,전통시장,창동골목시장,미용실,도봉구,창3동,HL,상권축소,미용,49082278,2171979,...,17,1,0,0,0,122,50,107,52,8180380
219563,전통시장,창동골목시장,미용실,도봉구,창3동,HL,상권축소,미용,42119921,2171979,...,0,0,0,0,0,121,50,109,52,7019987

In [ ]:
keep_columns = [ 'service_industry_name', 'business_district_name',
                 'monthly_average_income_amount',
                  'total_floating_population',
                  'total_working_population',
                  'apartment_average_price',
                  'total_households',
                  'total_expenditure_amount',
                  'total_stores',
                  'average_operating_months',
                  'total_attraction_facilities',
                  'average_closing_months',
                  'opening_rate',
                  'closing_rate',
                  'pharmacies',
                  'seoul_average_operating_months',
                  'apartment_average_area',
                  'monthly_sales_per_store'
                  ]

In [ ]:
new_data = data[keep_columns]
new_data

,service_industry_name,business_district_name,monthly_average_income_amount,total_floating_population,total_working_population,apartment_average_price,total_households,total_expenditure_amount,total_stores,average_operating_months,total_attraction_facilities,average_closing_months,opening_rate,closing_rate,pharmacies,seoul_average_operating_months,apartment_average_area,monthly_sales_per_store
0,한식음식점,이북5도청사,4354652,159362,1048,392484386,401,520427635,9,97,12,59,0,0,0,96,118,31642358
1,한식음식점,이북5도청사,4354652,166405,1048,392484386,401,520427635,9,95,12,59,0,0,0,96,118,29801899
2,한식음식점,이북5도청사,4354652,163447,1048,392484386,401,520427635,10,91,12,59,9,0,0,96,118,35524276
3,한식음식점,이북5도청사,4354652,129831,1048,392484386,401,520427635,9,89,12,59,0,10,0,96,118,35552416
4,한식음식점,이북5도청사,4354652,124555,1048,435370606,401,520427635,9,92,12,60,0,0,0,95,115,35785668
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
219559,미용실,창동골목시장,2171979,564654,84,119509524,632,365211275,6,116,17,49,0,0,2,103,46,7448384
219560,미용실,창동골목시장,2171979,513491,84,119509524,632,365211275,6,120,17,50,0,0,2,104,46,7534818
219561,미용실,창동골목시장,2171979,509988,84,119509524,632,365211275,6,120,17,50,0,0,2,106,46,7392961
219562,미용실,창동골목시장,2171979,515572,84,119509524,632,365211275,6,122,17,50,17,0,2,107,46,8180380
219563,미용실,창동골목시장,2171979,501331,84,119509524,632,365211275,6,121,17,50,0,0,2,109,46,7019987

In [ ]:
new_data.columns.tolist()

['service_industry_name',
 'business_district_name',
 'monthly_average_income_amount',
 'total_floating_population',
 'total_working_population',
 'apartment_average_price',
 'total_households',
 'total_expenditure_amount',
 'total_stores',
 'average_operating_months',
 'total_attraction_facilities',
 'average_closing_months',
 'opening_rate',
 'closing_rate',
 'pharmacies',
 'seoul_average_operating_months',
 'apartment_average_area',
 'monthly_sales_per_store']

In [ ]:
column_types = new_data.dtypes

# 결과 출력
for column, dtype in column_types.items():
    print(f"Column: {column}, Type: {dtype}")

Column: service_industry_name, Type: object
Column: business_district_name, Type: object
Column: monthly_average_income_amount, Type: int64
Column: total_floating_population, Type: int64
Column: total_working_population, Type: int64
Column: apartment_average_price, Type: int64
Column: total_households, Type: int64
Column: total_expenditure_amount, Type: int64
Column: total_stores, Type: int64
Column: average_operating_months, Type: int64
Column: total_attraction_facilities, Type: int64
Column: average_closing_months, Type: int64
Column: opening_rate, Type: int64
Column: closing_rate, Type: int64
Column: pharmacies, Type: int64
Column: seoul_average_operating_months, Type: int64
Column: apartment_average_area, Type: int64
Column: monthly_sales_per_store, Type: int64

In [ ]:
# 피처와 타겟 분리
features = ['service_industry_name', 'business_district_name',
            'monthly_average_income_amount',
                  'total_floating_population',
                  'total_working_population',
                  'apartment_average_price',
                  'total_households',
                  'total_expenditure_amount',
                  'total_stores',
                  'average_operating_months',
                  'total_attraction_facilities',
                  'average_closing_months',
                  'opening_rate',
                  'closing_rate',
                  'pharmacies',
                  'seoul_average_operating_months',
                  'apartment_average_area']
target = ['monthly_sales_per_store']

X = new_data[features]
y = new_data[target]

In [ ]:
#문자형 데이터를 숫자형으로 변환
numeric_features = ['monthly_average_income_amount',
                  'total_floating_population',
                  'total_working_population',
                  'apartment_average_price',
                  'total_households',
                  'total_expenditure_amount',
                  'total_stores',
                  'average_operating_months',
                  'total_attraction_facilities',
                  'average_closing_months',
                  'opening_rate',
                  'closing_rate',
                  'pharmacies',
                  'seoul_average_operating_months',
                  'apartment_average_area']


categorical_features = ['service_industry_name', 'business_district_name']

preprocessor = ColumnTransformer(
    transformers=[
        ('num', StandardScaler(), numeric_features),
        ('cat',  OneHotEncoder(handle_unknown='ignore'), categorical_features)

    ])

# RandomForest model

In [ ]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, OneHotEncoder
from sklearn.compose import ColumnTransformer
from sklearn.ensemble import RandomForestRegressor
from sklearn.pipeline import Pipeline
from sklearn.metrics import mean_squared_error, r2_score

In [ ]:
model = Pipeline(steps=[
    ('preprocessor', preprocessor),
    ('regressor', RandomForestRegressor(n_estimators=100, random_state=42))
])

# 데이터를 학습 세트와 테스트 세트로 분리
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# 모델 학습
model.fit(X_train, y_train.values.ravel())


# 모델 저장
import joblib
joblib.dump(model, '/content/drive/MyDrive/FinalProject_data/ml_model/trained_model2.pkl')

# 모델 로드
loaded_pipeline = joblib.load('/content/drive/MyDrive/FinalProject_data/ml_model/trained_model2.pkl')

# 예측 수행
predictions = loaded_pipeline.predict(X_test)

In [ ]:

loaded_pipeline.predict(X_test.iloc[[0]] )

array([91810079.33])

In [ ]:
print(predictions)

[9.18100793e+07 5.15282040e+06 7.35788757e+06 ... 1.46426868e+08
 4.28187924e+06 6.16364436e+07]

In [ ]:
# 예측 수행
predictions = loaded_pipeline.predict(X_test)

# 성능 지표 계산
mse = mean_squared_error(y_test, predictions)
rmse = np.sqrt(mse)
r2 = r2_score(y_test, predictions)

print(f"Mean Squared Error (MSE): {mse:.4f}")
print(f"Root Mean Squared Error (RMSE): {rmse:.4f}")
print(f"R² Score: {r2:.4f}")

Mean Squared Error (MSE): 1192503998789133.7500
Root Mean Squared Error (RMSE): 34532651.1984
R² Score: 0.9370

In [ ]:
np.argsort( predictions)[-5:]

array([ 2728, 31798, 37980, 15286, 22310])

In [ ]:
# Assuming `predictions` is your array of predicted sales and `X_test` is your DataFrame
top_5_indices = np.argsort(predictions)[-5:]
top_5_info = X_test.iloc[top_5_indices].copy()
top_5_info['predicted_monthly_sales_per_store'] = predictions[top_5_indices]

# Select the relevant columns to display
columns_to_display = ['service_industry_name', 'business_district_name', 'predicted_monthly_sales_per_store']
top_5_info_display = top_5_info[columns_to_display]

print("Top 5 Recommendations based on monthly_sales_per_store:")
top_5_info_display

Top 5 Recommendations based on monthly_sales_per_store:

,service_industry_name,business_district_name,predicted_monthly_sales_per_store
22619,조명용품,동대부고,3.874662e+09
22626,조명용품,동대부고,3.956154e+09
22618,조명용품,동대부고,4.356146e+09
197709,의약품,휘문고교사거리,4.573034e+09
24629,신발,먹골역 1번,4.898168e+09